body {
    font-family: Arial, Times, 'Times New Roman', serif;
    font-size: 11pt;
}

header {
    height: 8%;
    vertical-align: middle;
    margin-top: 20px;
}

header,
nav,
main {
    width: 100%;
}

nav ul {
    width: 100%;
    list-style: inside;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

nav li:hover {
    cursor: pointer;
}

footer {
    position: relative;
    bottom: 50px;
    text-align: center;
}

.button {
    margin: 5px;
    padding: 6px;
    border-radius: 25px;
    border: 1px dotted black;
    background: rgb(246, 251, 255);
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    background: rgb(235, 246, 255);
}

.button:active {
    border: inset 1px;
    background: rgb(253, 253, 253);
}

.bold {
    font-weight: bold;
    color:black;
}

.emph {
    background: #ddd;
    border: 1px solid black;
    border-radius: 12px;
    padding: 9px 0 !important;
}

.center {
    text-align: center;
}

aside {
    border: 1px solid black;
    border-radius: 5px;
    width: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

section {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 70%;
    margin: 10% auto;
}

section div {
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


section div div {
    width: 90%;
}

#top {
    width: 100%;
}

#client {
    border: 1px solid black;
    padding: 0px 0px;
    width: 90%;
}
#client p {
    margin: 0px;
    padding: 3px;
    font-size: 0.8em;
    font-weight: 300;
}
#clientinfo {
    border: 1px solid black;
    padding : 0px 15px ;
    margin: 10px 0;
    width: 90%;
    text-align: center;
    font-size: 0.8em;
}

#clientinfo span:first-child {
    float: left;
    clear: left;
    text-align: left;
    font-size: 1em;
} 
#items {
    width: 100%;
}

.row {
    width: 100%;
    margin: 2px auto;
    padding: 1px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.row p {
    padding: 3px;
}

.row div {
    width: auto;
    flex: 1;
}

.row :nth-child(0n+1) {
    flex: 3;
}

.thead {
    display: flex;
    flex-flow: column nowrap;
    width: 95%;
    font-weight: bold;
    text-align: center;
}

.thead .row {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 6px 0px !important;
}

.header {
    width: auto;
    margin: auto;
}

#tbody {
    width: 95%;
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.88em;
}


#tbody .row {
    background: #eee;
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    margin: 2px auto;
}

.tfoot {
    display: flex;
    flex-flow: column nowrap;
    border-top: 1px solid #eee;
    text-align: center;
    align-self: flex-end; /* Align the element to the bottom (right) */
    margin-right: 20px;
}


.hide {
    visibility: hidden;
}

.itemDetails {
    text-align: start !important;
}

.descriptionItem {
    color: #666;
    font-size: 0.8em;
}

#clauses {
    width: 100%;
    color: #444;
    font-size: 0.7em;
}

#moreinfo {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    margin-block-end: 1em;
}

#ouvrir {
    display: none;
}

#GSM {

    font-weight: bold;
    text-decoration: underline;
    font-size: 1.15em;
}

#GM {
    font-weight: bold;
    font-size: 1em;
}

#I {
    font-style: italic;
    font-size: 0.8em;
}

#parties {
    display: block;
}

/* Style for the Flex container */
.flex-container {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;

}
/* Style for the content inside each flex item */
.flex-container div {
    white-space: nowrap; /* Prevent content inside items from wrapping */   
}
/* Style for the docuType span */
#docuType {
    font-weight: bold;
    margin-right: 10px;
}
#docuDate {
    font-size: 0.5em;
    font-style: italic;
    color: #454545;
    font-weight: normal;
}
#exportDocument {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e04b93;
    color: white;
    font-weight: 700;
    font-size: larger;

}
#exportDocument:hover {
    background-color: #005ea6;
}
/* Style for the header element */
header {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    text-align: center; /* Center-align text */
    padding: 20px 0; /* Add padding to the top and bottom */
}

/* Style for the h1 element within the header */
header h1 {
    font-size: 36px; /* Font size */
    margin: 0; /* Remove default margin */
}
.italic-bold{
    font-style: italic;
    font-weight: bold;
    display: inline-block; /* Center the span */
    text-align: left; /* Center the text within the span */
    font-size: 1.5em;
}
#right {
    text-align: right;
    margin: 10px 60px 60px 0px; /* Top, Right, Bottom, Left */
}
h2 {
    display: flex;
    flex-direction: row; 
    align-items: baseline;
    justify-content: space-between; 
}

